<header>
  <nav style="text-align:center; margin-top:20px;">
    <a href="{{ '/' | relative_url }}">Home</a> |
    <a href="{{ '/projects' | relative_url }}">Projects</a> |
    <a href="{{ '/about' | relative_url }}">About</a> |
    <a href="{{ '/assets/Joe_Ledford_Resume.pdf' | relative_url }}">Resume</a> |
    <a href="https://github.com/joe-ledford-04">GitHub</a> |
    <a href="https://www.linkedin.com/in/jjoseph-ledford04/">LinkedIn</a>
  </nav>

  <div style="text-align:center; margin-top:25px;">
    <img src="{{ '/assets/images/Headshot.jpg' | relative_url }}"
         alt="Joe Ledford"
         style="width:150px; border-radius:50%;">

    <h1>Joe Ledford</h1>
    <p>Data Science Senior at American University</p>
  </div>
</header>